.stories-image {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#c82d8e, #f99d4c);
}



