.width1 {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50px;
}

.circular {
    border-radius: 50%;
    background-color: rgb(77, 8, 141);
}

.circular-color {
    background-color: rgb(77, 8, 141);
}