.fotofundo{
    border-radius: 0px;
    background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgb(20, 52, 83) 90% );
    padding-top: 3rem;
    min-height: 100vh;
    width: 100%;

}
    @media (max-width: 960px)
    {
        .fotofundo {padding-top: 0px}
    }
.titulo{
    font-family:Arial;
   color: white !important;
   font-size: 70px;
   font-family: 'Source Code Pro', monospace !important;
    
}

@media (max-width: 960px) {
    .titulo {font-size: 40px}

}

.descricao{
    font-family:Arial;
    color: white;
    font-size: 18px;
    opacity: 100;
    
    
    
}
.titulo2{
    font-family:Arial;
   color: #000000;
   font-size: 20px;
   margin-bottom: 50px;

}

.bot {
    position: relative;
    font-size: 14px;
    letter-spacing: 3px;
    height: 3em;
    width: 100%;
    border: none;
    background-color: #c41b54;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;

    margin-top: 10px;
   }

    @media (max-width: 960px) {
    .descricao{display: none;}
    .btn-toggle{display: block;}
    
  }

    .grid {
        padding-top: 7rem;
        width: 100% !important;
        margin: 0px !important;

    }
    @media (max-width: 960px) 
    {

        .grid {padding-top:0px}

    }

  .margemup {
    margin-top: 10px;
  }

.p-05 {

    padding: 0.5rem;

}