.storiesPersonal {
  width: 100%;
}

.margin {
  margin-left: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.swiper-button-next {
  color: #000;
}

.swiper-button-prev {
  color: black;
}

:root {
  --swiper-navigation-size: 29px;
}
