.m0 {
  margin: 0px;
  padding: 0px;
}


.storiesPersonal {
  width: 100%;
}

.margin {
  margin-left: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.ml-75 {
  margin-left: 75px;
}

.mb {
  margin-bottom: 30px;
}

.mLilian {
  margin-left: 30px;
}

.mA {
  margin-left: 20px;
}

.mJ {
  margin-left: 40px;
}

.mAlice {
  margin-left: 35px;
}

.mP {
  margin-left: 30px;
}

.mM {
  margin-left: 30px;
}

.mI {
  margin-left: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.swiper-button-next {
  color: #000;
}

.swiper-button-prev {
  color: black;
}

:root {
  --swiper-navigation-size: 29px;
}
