.m0 {
  margin: 0px;
  padding: 0px;
}


.storiesPersonal {
  width: 100%;
}

.margin {
  margin-left: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.ml-59 {
  margin-left: 59px;
}

.stories-image {
  width: 50% !important;
  height: 100% !important;
  border-radius: 50%;
  border:3px solid #9f1a6e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.swiper-button-next {
  color: #000;
}

.swiper-button-prev {
  color: black;
}

:root {
  --swiper-navigation-size: 29px;
}
