/* .fotofundo{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgb(20, 52, 83) 90% );
    boxShadow: "0 5px 15px rgba(0,0,0,0.08)",

} */
