.backgroundcadastro{

    background: rgba(225,225,225, 0.8);
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
    /* background-color: rgba(225,225,225, 0.5); */

    backdrop-filter: blur (100px);
    -webkit-backdrop-filter: blur (100px);
    border-radius: 25px;
    width: 40px;

}

.text1 {
   
    color: #222 !important;
    padding-bottom: 1rem;
    display: block;

}


