.text-decorator-none{
  text-decoration: none;
}

.avatar {
  display: flex;
  justify-content: flex-start;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.nomeUsuario {
  margin-left: 10px;
  margin-bottom: -10px;
}

.local {
  margin-left: 10px;
  color: rgb(182, 179, 179);
}