.formatar {
    text-decoration: none;
}

.space {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: center;
}

.cadastro1{
    padding: 50px;
}

.text2 {
    text-align: center;
    color: #000000;
}
